{% extends 'base_adm.html.twig' %}

{% block title %}ADM
{% endblock %}

{% block body %}
    <div class="container">
        <h2 class="text-center mt-5">
            Painel Administrativo Aj-System
        </h2>
    </div>
{% endblock %}
{% block javascripts %}
    {{ parent() }}
{% endblock %}
