{% extends 'base_adm.html.twig' %}

{% block title %}Clientes
{% endblock %}

{% block body %}
    <div style=" margin-bottom: 50px">

    </div>
    <div class="card">
        <div class="card-header ch-alt" style="border-bottom: none">
            <h2>
                Novo Cliente
            </h2>
        </div>

        <div class="card-body card-padding">
            {% include 'flashMessages.html.twig' %}
            {% include '@Admin/Cliente/_form.html.twig' %}
        </div>
    </div>

{% endblock %}
{% block javascripts %}
    {{ parent() }}
{% endblock %}
