{% extends 'base_security.html.twig' %}

{% block title %}Login{% endblock %}

{% block body %}

    <div class="container">
        <div class="row d-flex align-items-center justify-content-center " style="min-height: 90vh">
            <div class="col-md-4 text-center">
                {#<img src="{{ asset('imagens/logo.png') }}" style="background-color: #194B94">#}
                <h1>AJ-System</h1>
                <h3>Login</h3>
                <hr>
                <form action="{{ path('login') }}" method="post">
                    <div class="form-group" style="border: 1px solid #ccc;padding: 25px;">
                        <label for="username">E-mail:</label>
                        <input type="email" id="username" name="_username" value="{{ last_username }}" class="form-control" />

                        <label for="password">Senha:</label>
                        <input type="password" id="password" name="_password" class="form-control" />

                        <button type="submit" class="btn btn-primary" style="margin-top: 10px">logar</button>
                        {% if error %}
                            <p class="text-danger">E-mail/Senha Invalida</p>
                        {% endif %}
                    </div>
                </form>
            </div>
        </div>
    </div>
{% endblock %}